@import './colors.css';

* {
  padding: 0;
  margin: 0;
}

html, body {
  font-size: 16px;
  font-family: 'Montserrat', Verdana, sans-serif, 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contenedor-citas{
  display: grid;
  grid-template-columns: 25% 75%;
}

.citas{
  background-color: var(--white-50);
  padding: 5rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: 10% 90%;
}

.menu-cita{
  display: grid;
  gap: 1rem;
  border: 2px solid var(--neutral-300);
  border-radius: 10px;
  padding: 1rem;
  height: 200px;
}

.select-group{
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 0.5rem;
}

label{
  font-weight: bold;
  color: var(--neutral-500);
}

#psicologos, #fecha-cita, #hora-cita{
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: var(--secondary1-50);
  border: none;
}

.contenido-boton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-cita{
  width: 50%;
  background-color: var(--secondary1-200);
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  color: var(--neutral-300);
}